


<h2>Password Saved Successfully!</h2>

<p>Your password has been successfully reset.</p>

<div class="form-group">
    <a asp-controller="Accounts" asp-action="Login" class="btn btn-primary">Back to Login</a>
</div>
