@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ResetPassword";
    
}



<div class="wrapper">
    <div class="form-container">
        <a href="~/patient/index" style="color: red;font-size: 30px; float:right;"> <i class="fa fa-window-close" aria-hidden="true"></i></a>

        <h2 class="text-center">Reset Password</h2>
        <div class="form-inner">
            <form id="resetPasswordForm" asp-action="ResetPassword" method="post">
                
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="OldPassword" class="form-label pt">Old Password<span class="required"></span></label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="OldPassword" class="form-input-login" />
                        <span asp-validation-for="OldPassword" class="text-red"></span>
                    </div>
                </div>
                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="NewPassword" class="form-label pt">New Password<span class="required"></span></label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="NewPassword" class="form-input-login" />
                        <span asp-validation-for="NewPassword" class="text-red"></span>
                    </div>
                </div>




                <div class="form-field flex">
                    <div class="w-25">
                        <label asp-for="ConfirmPassword" class="form-label pt">Confirm Password<span class="required"></span></label>
                    </div>
                    <div class="flex-1">
                        <input asp-for="ConfirmPassword" class="form-input-login" />
                        <span asp-validation-for="ConfirmPassword" class="text-red"></span>
                    </div>
                </div>
                
                <div class="form flex">
                    <div class="w-50"></div>
                    <div class="flex-1">
                        <button type="submit" class="button button-green-back">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






